<!DOCTYPE html>
<html lang="hr">
<head>
  <meta charset="UTF-8">
  <title>Galerija</title>
  <link rel="stylesheet" href="/style/style.css">
</head>
<body>

  <h1>Galerija</h1>

  <section class="gallery">



    <% images.forEach(image => { %>
      <figure>
        <a href="#<%= image.id %>"> 
          <img src="<%= image.url %>" alt="<%= image.title %>">
        </a>
        <figcaption><%= image.title %></figcaption>
      </figure>

    
      <div id="<%= image.id %>" class="lightbox">
        <a href="#" class="close">×</a>
        <img src="<%= image.url %>" alt="<%= image.title %>">
      </div>
    <% }); %>
  </section>

</body>
</html>
